<div class="action-bar">
    <button mat-raised-button color="primary" (click)="openDialog()">
        Add Transaction
    </button>
    <div class="action-selector">
        <mat-form-field appearance="outline"> 
            <mat-label>Organization</mat-label>
            <mat-select  (selectionChange)="changeOrganization($event.value)">
                <mat-option *ngFor="let organization of organizations" [value]="organization">
                  {{organization}}
                </mat-option>
              </mat-select>
        
        </mat-form-field>
    </div>

    <div class="action-selector">
        <mat-form-field appearance="outline"> 
            <mat-label>Transaction Type</mat-label>
            <mat-select (selectionChange)="changeType($event.value)"  value="Income">
                <mat-option *ngFor="let transactionType of transactionTypes" [value]="transactionType">
                  {{transactionType}}
                </mat-option>
            </mat-select>
         
        </mat-form-field>
    </div>

    <div class="action-selector">
        <mat-form-field appearance="outline"> 
            <mat-label>Month</mat-label>
            <mat-select (selectionChange)="changeMonth($event.value)"  value="This Month">
                <mat-option *ngFor="let month of months; let i = index" [value]="i">
                  {{month}}
                </mat-option>
            </mat-select>
         
        </mat-form-field>
    </div>
  
</div>


<div class="total-expense">

</div>

<div class="mat-elevation-z8" >
    <table mat-table [dataSource]="transactions">
        <!-- Amount Column -->
        <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef> Amount </th>
            <td mat-cell *matCellDef="let element">  R {{element.amount}} .00 </td>
        </ng-container>
         <!-- Amount Column -->
         <ng-container matColumnDef="details">
            <th mat-header-cell *matHeaderCellDef> Details</th>
            <td mat-cell *matCellDef="let element"> {{element.details}} </td>
        </ng-container>
         <!-- Amount Column -->
         <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Date </th>
            <td mat-cell *matCellDef="let element"> {{element.date}} </td>
        </ng-container>
         <!-- Amount Column -->
         <ng-container matColumnDef="account">
            <th mat-header-cell *matHeaderCellDef> Account </th>
            <td mat-cell *matCellDef="let element"> {{element.account}} </td>
        </ng-container>
         <!-- Amount Column -->
         <ng-container matColumnDef="organization">
            <th mat-header-cell *matHeaderCellDef> organization </th>
            <td mat-cell *matCellDef="let element"> {{element.organization}} </td>
        </ng-container>
         <!-- Amount Column -->
         <ng-container matColumnDef="fulfiller">
            <th mat-header-cell *matHeaderCellDef> Fulfiller </th>
            <td mat-cell *matCellDef="let element"> {{element.fulfiller}} </td>
        </ng-container>
         <!-- Amount Column -->
         <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef> Type </th>
            <td mat-cell *matCellDef="let element"> {{element.type}} </td>
        </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
    </table>
</div>
